/*
  Styles for the Grow game state display. (Anything inside #game)
*/

@media (min-width: 1024px) {
  #game {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 2rem;
  }

  #player-scores {
    grid-auto-flow: row !important;
    margin: 0 !important;
    margin-top: 5rem !important;

    grid-template-rows: repeat(4, .1fr);
    width: 10vw;
  }
}

#game .main-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game .line-vertical,
#game .line-horizontal {
  stroke: black;
  stroke-width: 2;
}

#game .stone>circle {
  transition: stroke .1s, filter .1s;
}

#game .stone>circle,
#game .unplaced-stone>circle {
  stroke: black;
  stroke-width: 2;
}

#game .stone>text {
  text-anchor: middle;
  dominant-baseline: middle;

  stroke: white;
  fill: white;
}

#game .stone.movable>circle,
#game .stone.target>circle,
#game .growth-target>circle {
  filter: url(#back-glow);
  stroke: white;
  cursor: pointer;
}

#game .stone.moving>circle {
  filter: url(#back-glow-color);
  stroke: lime;
}

#game .growth-target {
  fill: #e0bb6c;
  opacity: 60%;
}

#board {
  background-color: #e0bb6c;
  margin-top: 1rem;
}

#player-scores {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  list-style: none;
  gap: 1em;
  padding: 0;
  margin: 0 5rem;
}

#player-scores .player {
  border: 1px dotted grey;
  border-radius: .3em;
  padding: 1em;
  text-align: center;
}

#player-scores .score-label {
  font-size: x-small;
}

#player-scores .score {
  font-size: x-large;
}

#player-scores .current-player {
  border: 2px solid gold;
  background-color: hsla(51, 100%, 50%, 10%);
}

#end-turn {
  width: 20rem !important;
}