/*
  Styles for the Grow game state display. (Anything inside #game)
*/

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game .line-vertical,
#game .line-horizontal {
  stroke: black;
  stroke-width: 2;
}

#game .stone>circle,
#game .unplaced-stone>circle {
  stroke: black;
  stroke-width: 2;
}

#game .stone>text {
  text-anchor: middle;
  dominant-baseline: middle;

  stroke: white;
  fill: white;
}

#game .stone.movable>circle {
  stroke: blue;
}

#player-scores {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  list-style: none;
  gap: 1em;
  padding: 0;
}

#player-scores .player {
  border: 1px dotted grey;
  border-radius: .3em;
  padding: 1em;
  text-align: center;
}

#player-scores .score-label {
  font-size: x-small;
  text-transform: uppercase;
  margin-top: 1em;
}

#player-scores .score {
  font-size: x-large;
}

#player-scores .current-player {
  border: 2px solid gold;
  background-color: hsla(51, 100%, 50%, 10%);
  margin-bottom: 50px;
}

#end-turn {
  width: 20rem !important;
}