/*
  General styles for the main/index page, excluding those for the
  Grow game state display itself.
*/

body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

.hidden {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}